{% extends "base.html" %}
{% block title %}Applications{% endblock %}

{% block content %}
<h3>Job Applications</h3>

{% if applications %}
<table>
    <tr>
        <th>Student</th>
        <th>Job</th>
        <th>Status</th>
        <th>Action</th>
    </tr>

    {% for app in applications %}
    <tr>
        <td>{{ users[app.user_id].name }}</td>
        <td>{{ jobs[app.job_id].title }}</td>
        <td><span class="status {{ app.status }}">{{ app.status }}</span></td>
        <td>
            <a class="btn" href="{{ url_for('update_application_status', app_id=app.id, status='Approved') }}">Approve</a>
            <a class="btn danger" href="{{ url_for('update_application_status', app_id=app.id, status='Rejected') }}">Reject</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p>No applications found.</p>
{% endif %}

<br>
<a href="{{ url_for('admin_dashboard') }}">Back</a>
{% endblock %}
